<h4 class="prompt col-sm-12">Which looks tastier...?</h4>
	<div class="browse-by col-sm-12">
		<div class="browse-food col-sm-4 col-sm-offset-1">
			<% soup_img = Food.random_soup %>
			<% salad_img = Food.random_salad %>
			<p class="check-it check-it-left"><%= link_to "Check out this Soup", food_path(soup_img) %></p>
			<div class="game-pic"><%= link_to (image_tag (soup_img.image.url)), result_food_path(:id => soup_img.id, :lose_id => salad_img.id), method: :put %></div>
			<h3 class="title"><%= link_to soup_img.title, result_food_path(:id => soup_img.id, :lose_id => salad_img.id), method: :put %></h3>
		</div>

		<div class="col-sm-2 vs">
			<div id="top-word">soup</div> 
			<div id="vs-word">or</div>
			<div id= "bottom-word">salad</div>
		</div>

		<div class="browse-food col-sm-4">
			<p class="check-it check-it-right"><%= link_to "Check out this Salad", food_path(salad_img) %></p>
			<div class="game-pic"><%= link_to (image_tag (salad_img.image.url)), result_food_path(:id => salad_img.id, :lose_id => soup_img.id), method: :put %></div>
			<h3 class="title"><%= link_to salad_img.title, result_food_path(:id => salad_img.id, :lose_id => soup_img.id), method: :put %></h3>
		</div>
		
	</div>