<h2>Hey <%= @user.firstname %>!</h2>
<p>Check out these dank Soups and Salads you've served up or <%= link_to "Upload some new Soup or Salad", new_food_path %></p>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>




 

  <strong>Image:</strong>
  <% @user.foods.each do |food| %>

  <h3><%= food.title.capitalize %></h3>
  <p><%= link_to (image_tag (food.image.url)), food_path(food.id) %></p>
  <%= link_to "Delete", food, method: :delete, data: {confirm: "Really delete this article?"} %>
  <% end %> 




