<div class="food-container col-md-12">
	<p class="title col-md-12"><%= @food.title %></p>
	<div class="food col-md-4">
		<%= image_tag @food.image.url, :class => "main-pic"%>
	</div>

	<div class="description col-md-6">
  		<% if @food.description.length == 0 %>
  			<p>No Description Provided</p>	
  		<% else %>
  			<p><%= @food.description %><p>
  		<% end %>		
  	</div>
</div>
<%# make these things below conditional as if to if they already exist or not. If they dont, then render render a textbox to add the information %>

<p><%= @food.recipe %></p>


<%# use .capitalize instead of to_s below once all users have a username %>
<p>Back to <%= link_to @food.user.email + "'s profile", user_path(@food.user_id) %></p>