<!DOCTYPE html>
<html>
  <head>
    <title>Supersalad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="header">
  		<ul class="header-list">
  			<li class="header-list-item"> <%= link_to "home",  home_path %></li>
  			<li class="header-list-item"> <%= link_to "profile",  "#" %></li>
  			<li class="header-list-item"> <%= link_to 'Logout', "#" %></li>
  		</ul>
  	</header>
    <%= yield %>
  </body>
</html>
